
.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 20px;
}

.navLogo {
  font-family: 'Chinese Rocks';
  color: #c12833;
  font-size: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
}

h1, p, span, a {
  font-family: 'Chinese Rocks';
}

/* .navLogo:hover {
  color: #fed37d;
} */

.navLogo img {
  height: 80px;
}



/* Helper Classes */
.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.column {
  flex-direction: column;
}

.bg-vintage {
  background-color: #fff4bd;
}

.btn {
  /* padding: 10px 20px; */
  /* background-color: #c12833; */
  color: white;
  font-family: 'Chinese Rocks';
  font-size: 20px;
  margin-bottom: 10px;
  border: none;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.9);
  /* transform: skew(-15deg, 0); */
  cursor: pointer;
  position: relative;
  background: none;
}

.btn::after {
  content: '';
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 3px;
  background-color: #c12833;
  transition: width 200ms ease-in-out;
}

.btn:hover::after {
  width: 100%;
}

.text-centered {
  text-align: center;
}